body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 85%;
  align-items: flex-end;
  background-image: linear-gradient(rgb(77, 2, 77), rgb(126, 59, 126));
}
.logo {
  max-width: 200px;
}

a {
  text-decoration: none;
  color: white;
}
li {
  display: inline-block;
  list-style-type: none;
  margin-right: 15px;
}

.navbar {
  margin-left: 75px;
  color: white;
}
.container {
  display: flex;
  justify-content: flex-start;
}

.About {
  max-width: 650px;
}
h2 {
  margin-top: 100px;
  margin-left: 100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.hero_3 {
  display: flex;
  justify-content: space-evenly;
}

.hero_2 {
  text-align: center;
}

.img-1 {
  width: 65%;
  text-align: center;
  display: inline-block;
  margin-left: 25px;
  text-align: center;
  margin-top: 25px;

  overflow: hidden;
  position: relative;
}
.img-2 {
  max-width: 35%;

  display: block;
  align-items: center;
  position: relative;
  margin-left: 70px;
  margin-top: 20px;
}
p {
  margin-left: 100px;
  font-weight: bold;
}

.container_3 {
  display: flex;
  justify-content: flex-start;
  margin-top: 150px;
  margin-left: 100px;
}

.How {
  max-width: 500px;
}

.container_4 {
  align-items: center;
  background-image: url("bg.png");
}

.container_4 h2 {
  text-align: center;
}
.mobile {
  text-align: center;
}

.img-3 {
  max-width: 400px;
}

.img-4 {
  max-width: 200px;
}

.img-5 {
  max-width: 500px;
  align-items: center;
}

.super {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero_11 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-6 {
  max-width: 180px;
  margin-top: 60px;
}

.img-7 {
  max-width: 300px;
}
.container_5 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
a {
  color: black;
}
footer {
  text-align: center;
  font-weight: bold;
}
